<!-- Modal -->
<div class="modal fade modal-fullscreen" id="ModalRoutines" role="dialog" style="position:fixed; z-index:1000; padding-top:5%" data-backdrop="false" ng-app="myApp" ng-controller="RoutinesController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                
                <h4 class="modal-title ">Creación de usuario</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Tipo Identificación</p>
                            <select class="form-control"
                                    id="IdentificationType"
                                    required
                                    ng-model="frmUser.IdentificationTypeId"
                                    ng-options="item.identificationTypeId as item.name for item in vSelectIdentificationType">
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Cédula</p>
                            <input type="text" id="IdNumber" class="form-control phone" ng-model="frmUser.IdNumber" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Nombre</p>
                            <input type="text" id="Name" class="form-control phone" ng-model="frmUser.Name" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Primer Apellido</p> 
                            <input type="text" id="FirstName" class="form-control phone" ng-model="frmUser.Firstname" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Segundo Apellido</p>
                            <input type="text" id="LastName" class="form-control phone" ng-model="frmUser.LastName" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Fecha Nacimiento</p>
                            <input type="date" id="BirthDate" class="form-control phone" ng-model="frmUser.BirthDate" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Género</p>
                            <select class="form-control" ng-model="frmUser.Gender" id="Gender" required>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Correo electrónico</p>
                            <input type="email" id="Email" class="form-control phone" ng-model="frmUser.Email" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Teléfono</p>
                            <input type="text" id="Phone" class="form-control phone" ng-model="frmUser.Phone" required />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Rol</p>
                            <select class="form-control"
                                    id="Rol"
                                    required
                                    ng-model="frmUser.IdRol"
                                    ng-options="item.idRol as item.rolName for item in vSelectRoles">
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Estado</p>
                            <select class="form-control"
                                    id="State"
                                    required
                                    ng-model="frmUser.IdState"
                                    ng-options="item.idState as item.stateName for item in vSelectUserState">
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Provincia</p>
                            <select class="form-control"
                                    id="province"
                                    required
                                    ng-model="frmUser.IdProvince"
                                    ng-options="item.idProvince as item.provinceName for item in vSelectProvinces"
                            @*ng-change="refreshData(frmCert.RequestReasonGUID)"*@>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Cantón</p>
                            <select class="form-control"
                                    id="Counties"
                                    required
                                    ng-model="frmUser.IdCounties"
                                    ng-options="item.idCounties as item.name for item in vSelectCounties"
                            @*ng-change="refreshData(frmCert.RequestReasonGUID)"*@>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <p>Distrito</p>
                            <select class="form-control"
                                    id="Cities"
                                    required
                                    ng-model="frmUser.IdCities"
                                    ng-options="item.idCities as item.name for item in vSelectCities"
                            @*ng-change="refreshData(frmCert.RequestReasonGUID)"*@>
                            </select>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning text-black" ng-click="uploadStudent()">Guardar</button>
                <button type="button" class="btn btn-danger text-black" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
